body {
  text-align: center;
}

header, main {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

/*Header*/

header nav > ul > li {
  display: inline;
}

header nav > ul > li a {
  padding: 15px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

header nav > ul > li a:before {
  content:'\2630';
}

/*Main*/

.grid {
  margin: 0 auto;
  max-width: 450px;
  max-height: 450px;
  overflow: hidden;
  border: 1px solid #000;
  position: relative;
}

.gridsquare3 {
  width: 148px;
  height: 148px;
  float: left;
  border: 1px solid #000;
  line-height: 148px;
  position: relative;
}

.gridsquare4 {
  width: 110.5px;
  height: 110.5px;
  float: left;
  border: 1px solid #000;
  line-height: 110.5px;
  position: relative;
}

.gridsquare5 {
  width: 88px;
  height: 88px;
  float: left;
  border: 1px solid #000;
  line-height: 90px;
  position: relative;
}

.gridsquare6 {
  width: 73px;
  height: 73px;
  float: left;
  border: 1px solid #000;
  line-height: 90px;
  position: relative;
}

.cursor3 {
  width: 111px;
  height: 111px;
  border-radius: 100%;
  background:pink;
  position: absolute;
  top: 17.5px;
  left: 17.5px;
  z-index:1;
  transform: translate(0, 0);
  transition: transform 500ms;
}

.cursor4 {
  width: 82px;
  height: 82px;
  border-radius: 100%;
  background:pink;
  position: absolute;
  top: 14px;
  left: 14px;
  z-index:1;
  transform: translate(0, 0);
  transition: transform 500ms;
}

.cursor5 {
  width: 66px;
  height: 66px;
  border-radius: 100%;
  background:pink;
  position: absolute;
  top: 11px;
  left: 11px;
  z-index:1;
  transform: translate(0, 0);
  transition: transform 500ms;
}

.cursor6 {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background:pink;
  position: absolute;
  top: 9px;
  left: 9px;
  z-index:1;
  transform: translate(0, 0);
  transition: transform 500ms;
}

/*#cursor.moveRight {
  transform: translate(widthpx, 0)
  transition: transform 500ms ease-out;
}*/

/**#cursor.moveDown {
  transform: translate(0, widthpx)
  transition: transform 500ms ease-out;
}*/

main > ul > li:nth-child(1) {
  background: green;
}

main > div {
  max-width: 450px;
  margin: 0 auto;
}

main div > ul > li {
  display: inline;
}
