body {
  text-align: center;
}

header, main {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

/*Header*/

header nav > ul > li {
  display: inline;
}

header nav > ul > li a {
  padding: 15px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

header nav > ul > li a:before {
  content:'\2630';
}

/*Main*/

.grid {
  margin: 0 auto;
  max-width: 450px;
  max-height: 450px;
  overflow: hidden;
  border: 1px solid #000;
}

.gridsquare3 {
  width: 148px;
  height: 148px;
  float: left;
  border: 1px solid #000;
  line-height: 148px;
}

.gridsquare4 {
  width: 110.5px;
  height: 110.5px;
  float: left;
  border: 1px solid #000;
  line-height: 110.5px;
}

.gridsquare5 {
  width: 88px;
  height: 88px;
  float: left;
  border: 1px solid #000;
  line-height: 90px;
}

main > ul > li:nth-child(1) {
  background: green;
}

main > div {
  max-width: 450px;
  margin: 0 auto;
}

main div > ul > li {
  display: inline;
}
